/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/public/item/*[.jpg, .png, .jpeg]
!/public/item/placeholder*[.jpg, .png, .jpeg]
/public/project/*[.jpg, .png, .jpeg]
!/public/project/placeholder*[.jpg, .png, .jpeg]
/public/task/*[.jpg, .png, .jpeg]
!/public/task/placeholder*[.jpg, .png, .jpeg]
/public/user/*[.jpg, .png, .jpeg]
!/public/user/placeholder*[.jpg, .png, .jpeg]
/public/report/*[.jpg, .png, .jpeg]
!/public/report/placeholder*[.jpg, .png, .jpeg]
